dev-server/Mosquitto/log/*
dev-server/Mosquitto/data/*
media-server/media/*
media-server/sonarr/*
media-server/transmission/*
media-server/jackett/*
portainer/data/
media-server/.env
media-server/plex/*
media-server/radarr/*
